[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "*"
flask-script = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-cors = "*"
flask-bcrypt = "*"
flask-jwt-extended = "*"

[requires]
python_version = "3.8"

[scripts]
start = "python app.py runserver"
init = "python app.py db init"
migrate = "python app.py db migrate"
upgrade = "python app.py db upgrade"